body {
    background-color: white;
    color: blueviolet;
    font-family: Lucida Sans;
}

#home {
    background-color: aquamarine;
}

.profile_name {
    font-family: Lucida Sans;
    color: blue;
    text-align: left;
    font-size: 37px;
}

.contact_info {
    text-align: left;
    color: blue;
    font-family: Lucida Sans;
    font-size: 24px;
}

.contact_info img {
    width: auto;
    text-align: left;
    padding: 50px;
}

.topdiv-right {
    color: blue;
    font-size: 30px;
    font-family: Lucida Sans;
    display: inline;
    float: right;
}

.topdiv-right a:hover {
    font-size: larger;
    background-color: orange;
    font-family: Impact;
    cursor: pointer;
}

.topdiv-right a.active {
    color: white;
}

.info h2{
    color: blueviolet;
    font-size: 40px;
    font-family: Lucida Sans;
    float: center;
}

.info p {
    color: bisque;
    font-size: 27px;
    font-family: Lucida Sans;
    float: center;
}

.info img {
    float: left;
    width: 550px;
    height: fit-content;
    vertical-align: middle;
    margin: 5px;
}

h3 {
    text-align: justify;
    color: blueviolet;
    font-size: 37px;
    float: left;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.skill {
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
}

.skill img {
    height: 35px;
    align-items: center;
}

.skill h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
}

.skill p{
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
}